openapi: "3.0.3"
info:
  version: 1.0.0
  title: api
  description: listen.dev Events API
  contact:
    name: The Engineering Team
    email: engineering@garnet.ai
servers:
  - url: https://core.listen.dev

paths:
  /api/v1/detections/event:
    post:
      summary: Create a new detection event
      description: This endpoint allows for the creation of a new detection event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DetectionEvent'
      responses:
        "202":
          description: Event created successfully
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - JWT:
            - "write:detectionevents"
            - "project_id"
  /api/v1/pipeline/event:
    post:
      summary: Create a new pipeline event
      description: This endpoint allows for the creation of a new pipeline event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PipelineEvent"
      responses:
        "202":
          description: Event created successfully
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - JWT:
            - "write:pipelineevents"
            - "project_id"
  /api/v1/dependencies/event:
    post:
      summary: Create a new dependency event
      description: This endpoint allows for the creation of a new dependency event.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DependencyEvent"
      responses:
        "202":
          description: Event created successfully
        "401":
          description: "Unauthorized"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
        "500":
          description: "Internal server error"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
      security:
        - JWT:
            - "write:dependencyevents"
            - "project_id"

components:
  securitySchemes:
    JWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
  schemas:
    Error:
      type: object
      required: [message]
      example:
        message: Unauthorized
      properties:
        identifier:
          type: string
        message:
          type: string
    # see: https://docs.github.com/en/actions/learn-github-actions/variables#default-environment-variables
    GitHubEventContext:
      type: object
      required:
        - action
        - actor
        - actor_id
        - event_name
        - job
        - ref
        - ref_name
        - ref_protected
        - ref_type
        - repository
        - repository_id
        - repository_owner
        - repository_owner_id
        - run_attempt
        - run_id
        - run_number
        - runner_arch
        - runner_os
        - server_url
        - sha
        - triggering_actor
        - workflow
        - workflow_ref
        - workspace
      properties:
        action:
          example: "actionscheckout"
          type: string
        action_path:
          example: "/home/runner/work/_actions/repo-owner/name-of-action-repo/v1"
          type: string
        action_repository:
          example: "repo-owner/name-of-action-repo"
          type: string
        actor:
          example: "octocat"
          type: string
        actor_id:
          example: "1234567"
          type: string
          x-go-type: int64string.Int64String
        event_name:
          example: "workflow_dispatch"
          type: string
        job:
          example: "build"
          type: string
        ref:
          example: "refs/heads/my_branch"
          type: string
        ref_name:
          example: "123/merge"
          type: string
        ref_protected:
          example: true
          type: boolean
        ref_type:
          type: string
        repository:
          example: "octocat/Hello-World"
          type: string
        repository_id:
          example: "123456789"
          type: string
          x-go-type: int64string.Int64String
        repository_owner:
          example: "octocat"
          type: string
        repository_owner_id:
          example: "1234567"
          type: string
          x-go-type: int64string.Int64String
        run_attempt:
          example: "1"
          type: string
          x-go-type: int64string.Int64String
        run_id:
          example: "1658821493"
          type: string
          x-go-type: int64string.Int64String
        run_number:
          example: "3"
          type: string
          x-go-type: int64string.Int64String
        runner_arch:
          example: "X86"
          type: string
        runner_debug:
          example: false
          type: boolean
        runner_os:
          example: "Linux"
          type: string
        server_url:
          example: "https://github.com"
          type: string
        sha:
          example: "ffac537e6cbbf934b08745a378932722df287a53"
          type: string
        triggering_actor:
          example: "octocat"
          type: string
        workflow:
          example: "Something"
          type: string
        workflow_ref:
          example: "octocat/hello-world/.github/workflows/my-workflow.yml@refs/heads/my_branch"
          type: string
        workspace:
          example: "/home/runner/work/my-repo-name/my-repo-name"
          type: string
    GitHubDependencyEventContext:
      $ref: "#/components/schemas/GitHubEventContext"
    DependencyEvent:
      type: object
      properties:
        verdict:
          type: object
          x-go-type: models.Verdict
          description: The verdict of the event
        lock_file_path:
          type: string
          description: Identifies the file path of the lock file used to retrieve the dependency this event is about
        github_context:
          $ref: "#/components/schemas/GitHubDependencyEventContext"
      required:
        - verdict
        - github_context
    GitHubPipelineEventContext:
      $ref: "#/components/schemas/GitHubEventContext"
    PipelineEvent:
      type: object
      properties:
        type:
          type: string
          pattern: "^[a-zA-Z0-9_]+$"
        data:
          type: object
          x-go-type: interface{}
        github_context:
          $ref: "#/components/schemas/GitHubPipelineEventContext"
      required:
        - type
        - data
        - github_context
    GitHubDetectionEventContext:
      $ref: "#/components/schemas/GitHubEventContext"
    DetectionEvent:
      type: object
      properties:
        type:
          type: string
          x-oapi-codegen-extra-tags:
            validate: mandatory,is_detection_event_type=case
            human: the detection event type
        data:
          type: object
          required:
            - unique_id
            - head
            - body
          properties:
            unique_id:
              type: string
              pattern: "^[0-9a-f]{64}$"
              description: Unique SHA256 identifier
            head:
              type: object
              x-go-type: interface{}
            body:
              type: object
              x-go-type: interface{}
        github_context:
          $ref: "#/components/schemas/GitHubDetectionEventContext"
      required:
        - type
        - data
        - github_context
